<h1>EMI</h1>

<ul class="nav nav-tabs" role="tablist">
  <li class="active"><%= link_to 'View list', room_emis_path %></li>
  <li><%= link_to 'New Earning', new_room_emi_path %></li>
</ul>

<br>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Amount</th>
      <th>User</th>
      <th>Date</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <% @room_emis.each do |room_emi| %>
      <tr>
        <td><%= room_emi.title %></td>
        <td><%= room_emi.amount %></td>
        <td><%= room_emi.user_id %></td>
        <td><%= room_emi.date %></td>
        <td><%= link_to 'Show', room_emi, class: 'btn btn-primary btn-sm' %></td>
        <td><%= link_to 'Edit', edit_room_emi_path(room_emi), class: 'btn btn-info btn-sm' %></td>
        <td><%= link_to 'Destroy', room_emi, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_room_emi_path, class: 'btn btn-success' do %>
  <i class="glyphicon glyphicon-plus"></i> New EMI
<% end %>

