<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <a class="navbar-brand" href="/">Sbank</a>
    <% if user_signed_in? %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-brand navbar-right'  %>
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-brand navbar-right' %>
      <%= link_to "Expenses", expense_accounts_path, :class => 'navbar-brand navbar-right'  %>
      <%= link_to "EMI", room_emis_path, :class => 'navbar-brand navbar-right'  %>
      <%= link_to "Earning", earnings_path, :class => 'navbar-brand navbar-right'  %>
    <% else %>
      <%= link_to "Login", new_user_session_path, :class => 'navbar-brand navbar-right'  %>
      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-brand navbar-right'  %>
    <% end %>
  </div>
</nav>
